{% extends 'base.html' %}
{% load static %}

{% block title %}Details for {{ title }}{% endblock %}

{% block content %}
    <div class="w-75 mx-auto">
        <h2 class="display-3">
            {{ title }}
            {% if subtitle %}
                : {{ subtitle }}
            {% endif %}
        </h2>
        <a
            class="btn btn-outline-primary"
            href="{% url 'book_search:results' %}?{% for key, value in query_params %}{{ key }}={{ value }}{% if not forloop.last %}&{% endif %}{% endfor %}">
            Back to results
        </a>
    </div>
    <ul class="list-group w-75 mx-auto my-3">
        <li class="list-group-item d-lg-flex">
            <div class="col-lg-4 p-3">
                {% if cover %}
                    <figure>
                        <img
                            src="https://covers.openlibrary.org/b/id/{{ cover }}-L.jpg"
                            alt="cover art for {{ title }}"
                            class="d-block mx-auto mw-100"
                        >
                    </figure>
                {% else %}
                    <p>Cover image not available</p>
                {% endif %}
            </div>
            <div class="col-lg-8 p-5">
                {% if description %}
                    <p>{{ description }}</p>
                {% else %}
                    <p>
                        To add a description, visit
                        <a
                            href="{{ works_link }}"
                            target="_blank"
                        >
                            Open Library
                        </a>.
                    </p>
                {% endif %}
                {% if time_period %}
                    <dl>
                        <dt>
                            Time Period{% if time_period|length > 1 %}s{% endif %}
                        </dt>
                        {% for time in time_period %}
                            <dd>{{ time }}</dd>
                        {% endfor %}
                    </dl>
                {% endif %}
                {% if first_publish_date %}
                    <p>
                        First published: {{ first_publish_date }}
                    </p>
                {% endif %}
                <p>
                    <a href="{{ works_link }}" target="_blank">
                        Edit/add to this entry on Open Library
                    </a>
                </p>
            </div>
        </li>
        {% if links %}
            <li class="list-group-item">
                <h3>Links</h3>
                <ul>
                    {% for link in links %}
                        <li>
                            <a href="{{ link.url }}" target="_blank">
                                {{ link.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% if authors %}
            <li class="list-group-item p-0 border-0">
                <dl class="m-0">
                    <dt class="list-group-item">
                        <h3>Author{% if authors|length > 1 %}s{% endif %}</h3>
                    </dt>
                    {% for author in authors %}
                        <div class="list-group-item d-lg-flex gap-2">
                            {% if author.photos %}
                                <figure class="col-lg-3 mx-auto">
                                    <img
                                        src="https://covers.openlibrary.org/b/id/{{ author.photos.0 }}-M.jpg"
                                        alt="photo of {{ author.name }}"
                                        class="d-block mx-auto mw-100"
                                    >
                                </figure>
                            {% else %}
                                <p>No photo available</p>
                            {% endif %}
                            <div class="col-lg-9">
                                <dt>
                                    <strong>
                                        {{ author.name }}
                                        {% if author.title %}
                                            {{ author.title }}
                                        {% endif %}
                                    </strong>
                                    {% if author.birth_date %}
                                         | {{ author.birth_date }}
                                    {% endif %}
                                </dt>
                                {% if author.bio %}
                                    <dd class="mw-100">
                                        {{ author.bio }}
                                        {% if author.wikipedia %}
                                            <a href="{{ author.wikipedia }}" target="_blank">
                                                Wikipedia
                                            </a>
                                        {% endif %}
                                    </dd>
                                {% endif %}
                                {% if author.links %}
                                    <dt>Links</dt>
                                    {% for link in author.links %}
                                        <dd>
                                            <a href="{{link.url }}" target="_blank">
                                                {{ link.title }}
                                            </a>
                                        </dd>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </dl>
            </li>
        {% endif %}
        {% if places %}
            <li class="list-group-item">
                <h3>Key Locations</h3>
                <ul>
                    {% for place in places %}
                        <li>{{ place }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% if characters %}
            <li class="list-group-item">
                <h3>Key Persons</h3>
                <ul>
                    {% for character in characters %}
                        <li>{{ character }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% if subjects %}
            <li class="list-group-item">
                <h3>Subjects</h3>
                <ul>
                    {% for subject in subjects %}
                        <li>{{ subject }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
{% endblock %}