{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
    <form method="get" action="{% url 'book_search:results' %}">
        <p>Search By: </p>
        <input type="radio" id="search_title" name="search_criteria" value="title" checked>
        <label for="search_title">Title</label>
        <input type="radio" id="search_author" name="search_criteria" value="author">
        <label for="search_author">Author</label>
        <input type="radio" id="search_subject" name="search_criteria" value="subject">
        <label for="search_subject">Subject</label>
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>

    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}