{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form
                method="get"
                action="{% url 'book_search:results' %}"
                class="d-grid gap-2"
            >
                <p>Search By (choose 1): </p>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header bg-info">
                            <a
                                href="#collapseTitle"
                                class="btn btn-info d-block w-100 text-start"
                                data-bs-toggle="collapse"
                                id="titleSelect"
                            >
                                {{ form.book_title.label }}
                            </a>
                        </div>
                        <div
                            id="collapseTitle"
                            class="collapse"
                            data-bs-parent="#accordion"
                        >
                            <div class="card-body">
                                {{ form.book_title }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-warning">
                            <a
                                href="#collapseAuthor"
                                class="btn btn-warning d-block w-100 text-start"
                                data-bs-toggle="collapse"
                                id="authorSelect"
                            >
                                {{ form.author_name.label }}
                            </a>
                        </div>
                        <div
                            id="collapseAuthor"
                            class="collapse"
                            data-bs-parent="#accordion"
                        >
                            <div class="card-body">
                                {{ form.author_name }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-primary">
                            <a
                                href="#collapseSubject"
                                class="btn btn-primary d-block w-100 text-start"
                                data-bs-toggle="collapse"
                                id="subjectSelect"
                            >
                                {{ form.subject_keyword.label }}
                            </a>
                        </div>
                        <div
                            id="collapseSubject"
                            class="collapse"
                            data-bs-parent="#accordion"
                        >
                            <div class="card-body">
                                {{ form.subject_keyword }}
                            </div>
                        </div>
                    </div>
                </div>
                <input
                    type="submit"
                    value="Search"
                    class="btn btn-secondary"
                >
            </form>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}