/* General Page Styles */

body {
    font-family: Calibri, sans-serif;
}

img {
    max-width: 100%;
}

.main_wrap {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

/* Header */

header {
    display: flex;
    align-items: center;
}

header figure {
    max-width: 20%;
}

/* Search Form */

.form_wrap {
    width: 60%;
    margin: auto;
}

/* Results Display*/

.results_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.results_list ul {
    list-style: None;
}

@media screen and (max-width:760px) {

    .results_list {
        grid-template-columns: 1fr 1fr;
    }
}